@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Mooli&family=Poppins:wght@100&family=Ubuntu&display=swap');

body{
    background: black;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}


canvas{
    width: 100%;
    height: 90vh;
    float: top;
}

footer{
    clear: both;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.571);
    margin: 0;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Mooli', sans-serif;
    
}

footer p{
    text-shadow: 1px 3px 4px black;
}